:root {
  --grid-cell-bg-color: rgba(50, 50, 50);
  --font-color: white;
}

#pcd-segmentation {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "main-view right-sidebar"
    "controller statistics";
  gap: 10px;
  max-height: 100%;
}

.main-view {
  background-color: black;
}

.controller,
.right-sidebar,
.statistics {
  background-color: var(--grid-cell-bg-color);
  color: var(--font-color);
}

.main-view {
  position: relative;
  height: 100%;
  grid-area: main-view;
}

.controller {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  grid-area: controller;

  .controls-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 5px;

    .measure-result-reader {
      flex: 1;
      margin: 5px 0;
    }
  }
}

.right-sidebar {
  position: relative;
  height: 100%;
  grid-area: right-sidebar;
}

.statistics {
  position: relative;
  height: 100%;
  grid-area: statistics;

  .inner {
    padding: 0 5px;
  }
}
