/* reset */
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,form,fieldset,legend,input,select,textarea,button,th,td,menu,article,pre{
	margin: 0;
	padding: 0;
}
article,aside,dialog,figure,footer,header,hgroup,nav,section,select,time{
	display: block;
}
h1,h2,h3,h4,h5,h6,input,textarea,select,button,label{
	font-size: 100%;
	font-weight: normal;
	vertical-align: middle;
	font-family: inherit;
}
ul,dl,ol{
	list-style: none;
}
img,fieldset,input[type='submit']{
	border: none;
}
html{
	height: 100%;
}
body{
	/* -webkit-user-select: none;½ûÖ¹Ñ¡ÖÐÎÄ±¾ */
	-webkit-text-size-adjust: 100%;/* ÉèÖÃwebkitÄÚºËÏÂÎÄ×Ö´óÐ¡²»Ð¡ÓÚ12px */
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;/* ÉèÖÃµã»÷Á´½ÓÊ±ÕÚÕÖ²ãÎªÈ«Í¸Ã÷ */
	-webkit-overflow-scrolling: touch;
	font-size: 14px;
	line-height: 1;
	font-family: 'PingFangSC-Regular','Helvetica',"Microsoft YaHei", sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	min-height: 100%;
	position: relative;
	color: #000;
}

/* ½ûÖ¹³¤°´Á´½Ó¡¢°´Å¥¡¢ÊäÈë¿ò³öÏÖÏµÍ³Ä¬ÈÏµ¯¿ò²Ëµ¥ */
a,button,input,textarea{
	border: none;
	outline: none;
	text-decoration: none;
	-webkit-touch-callout: none;
	font-family: inherit;
	background: none;
}
a,a:visited{
	text-decoration: none;
	-webkit-touch-callout: none;
}
a{
	color: inherit;
}
em,i{
	font-style: normal;
}

@media only screen and (max-device-width:1080px),only screen and (max-width:1080px) {
	body,html {
		font-size: 144px
	}
}

@media only screen and (max-device-width:960px),only screen and (max-width:960px) {
	body,html {
		font-size: 128px
	}
}

@media only screen and (max-device-width:800px),only screen and (max-width:800px) {
	body,html {
		font-size: 106.66666666666667px
	}
}

@media only screen and (max-device-width:720px),only screen and (max-width:720px) {
	body,html {
		font-size: 96px
	}
}

@media only screen and (max-device-width:640px),only screen and (max-width:640px) {
	body,html {
		font-size: 85.33333333333334px
	}
}

@media only screen and (max-device-width:600px),only screen and (max-width:600px) {
	body,html {
		font-size: 80px
	}
}

@media only screen and (max-device-width:540px),only screen and (max-width:540px) {
	body,html {
		font-size: 72px
	}
}

@media only screen and (max-device-width:480px),only screen and (max-width:480px) {
	body,html {
		font-size: 64px
	}
}

@media only screen and (max-device-width:414px),only screen and (max-width:414px) {
	body,html {
		font-size: 55.2px
	}
}

@media only screen and (max-device-width:400px),only screen and (max-width:400px) {
	body,html {
		font-size: 53.333333333333336px
	}
}

@media only screen and (max-device-width:375px),only screen and (max-width:375px) {
	body,html {
		font-size: 50px
	}
}

@media only screen and (max-device-width:360px),only screen and (max-width:360px) {
	body,html {
		font-size: 48px
	}
}

@media only screen and (max-device-width:320px),only screen and (max-width:320px) {
	body,html {
		font-size: 42.66666666666667px
	}
}

@media only screen and (max-device-width:240px),only screen and (max-width:240px) {
	body,html {
		font-size: 32px
	}
}
html, body{
	width: 100%;
  height: 100%;
  min-height: 100%;
  background: #0d1325;
}
.load{
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	position: relative;
}
.load .load-precent{
	display: block;
	color: #FFFFFF;
	text-align: center;
	font-size: 0.24rem;
	position: absolute;
	width: 100%;
}
.wrap{
  width: 100%;
  height: 100%;
	position: relative;
}
.wrap::before{
	display: inline-block;
	content: "";
	width: 100%;
	height: 1.6rem;
	background: url('../images/index__topbg.png') no-repeat top center;
	background-size: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}
.head, .logo-wrap{
  width: 100%;
  height: 3.04rem;
  position: relative;
}
.logo-wrap .logo{
  width: 3.96rem;
  height: 1.84rem;
  background: url('./logo-large.png') no-repeat center;
  background-size: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.introduce{
  opacity: 0.6;
  font-family: 'PingFangSC-Regular';
  font-size: 0.26rem;
  color: #FFFFFF;
  text-align: justify;
  line-height: 0.44rem;
  display: flex;
  justify-content: center;
  margin-top: 0.64rem;
}
.introduce p{
	/* width: 6.54rem; */
	padding: 0 0.48rem;
}
.content__item{
  margin-top: 0.8rem;
  box-sizing: border-box;
  padding: 0 0.48rem;
}
.content__item .title{
  width: 2.08rem;
  height: 0.48rem;
  background-position: center;
  background-size: 100%;
  background-image: url('../images/content__item__title01.png');
  margin-bottom: 0.24rem;
}
.content__item .title2{
  background-image: url('../images/content__item__title02.png');
}
.item__list::after{
	content:".";        
	display:block;        
	height:0;        
	clear:both;        
	visibility:hidden;        
}
.item__list li{
	list-style: none;
	float: left;
	width: calc(50% - 0.12rem);
	height: 0.96rem;
	font-family: 'PingFangSC-Medium';
	font-size: 0.32rem;
	color: #FFFFFF;
	line-height: 0.32rem;
	background: #1C3360;
	border-radius: 6px;
	border-radius: 6px;
	margin-top: 0.24rem;
}
.item__list li:nth-child(2n){
	margin-left: 0.24rem;
}
.item__list li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 0.32rem;
	position: relative;
}
.item__list li a::after{
	width: 0.32rem;
	height: 0.32rem;
	display: inline-block;
	content: "";
	background: url('../images/arrow.png') no-repeat center;
	background-size: 0.32rem;
	position: absolute;
	right: 0.24rem;
}

/* subpage */
.subpage__wrap::before{
	background-image: url('./index_top_bg2.png');
}
.subpage__wrap .head{
	box-sizing: border-box;
	padding: 0.3rem	0.48rem	0;
	height: 1.66rem;
}
.subpage__wrap .logo-wrap {
  height: 2rem;
}
.subpage__wrap .head .label{
	width: 2.08rem;
  height: 0.48rem;
  background-position: center;
  background-size: 100%;
}
.subpage__wrap .head .label2{
	background-image: url('./content__item__title02.png');
}
.subpage__wrap .head .label a{
	display: inline-block;
	width: 100%;
	height: 100%;
	float: left;
}
.subpage__wrap .head .title{
	margin-top: 0.32rem;
	width: 2.56rem;
	height: 0.64rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.title_electricFence{
	background-image: url('../images/subpage__electricFence.png');
}
.title_crowdMass{
	background-image: url('../images/subpage__crowdMass.png');	
}
.title_loitering{
	background-image: url('../images/subpage__loitering.png');	
}
.title_fireAlarm{
	background-image: url('../images/subpage__fireAlarm.png');	
}
.title_crossBorder{
	background-image: url('../images/subpage__crossBorder.png');
}
.title_videoConcentration{
	background-image: url('./subpage__videoConcentration.png');	
}

.subpage__wrap .content{
	margin-top: 0.64rem;
	box-sizing: border-box;
	padding: 0 0.48rem;
}
.subpage__wrap .content .title{
	font-family: 'PingFangSC-Medium';
	font-size: 0.32rem;
	color: #FFFFFF;
	text-align: justify;
	line-height: 0.28rem;
	height: 0.28rem;
	border-left: 0.08rem solid #449bf0;
	box-sizing: border-box;
	padding-left: 0.16rem;
}
.subpage__wrap .video__box{
	width: 100%;
	height: 3.68rem;
	margin-top: 0.48rem;
	position: relative;
	background: #000;
}
.video__box video{
	width: 100%;
	height: 100%;
}
.video__box .playbtn{
	position: absolute;
	left: 0;top: 0;
	width: 100%;
	height: 100%;
}
.video__box .playbtn::after{
	display: inline-block;
	content: "";
	width: 0.96rem;
	height: 0.96rem;
	background: url('./play.png') no-repeat center;
	background-size: 99.9%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.video__box .hide{
	display: none;
}
.subpage__wrap .itemIntroduce{
	margin-top: 0.48rem;
	font-family: 'PingFangSC-Regular';
	font-size: 0.26rem;
	color: #FFFFFF;
	text-align: justify;
	line-height: 0.44rem;
}