.main-view {
  position: relative;
  // width: 80%;
  height: 100%;
  grid-area: main-view;
}

.controller {
  position: relative;
  height: 100%;
  grid-area: controller;
}

.right-sidebar {
  position: relative;
  background-color: white;
  // width: 20%;
  height: 100%;
  grid-area: right-sidebar;
}

.statistics {
  position: relative;
  background-color: white;
  // width: 20%;
  height: 100%;
  grid-area: statistics;
}
